.principal{
    display: flex;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWtL0ViU4XNojtQCpZYlAqoHQ_9XKVP_NPIQ&usqp=CAU");
    height: 100%;
    width: 100%;
}
.exibicao{
    border-start-end-radius: 500px;
    display: flex;
    background: rgba(152, 245, 255, .5);
    height: 99%;
    width: 50%;   
    justify-content: center;
    border: 4px solid rgba(152, 245, 255, .5);;
    align-items: center;
}
.exibicao img{
    border-radius: 360px;
    animation: logo 15s linear infinite;
}
.exibicao2{
    display: flex;
    height: 99%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background: url(imagens/imagem2.jpg);
    border-bottom-right-radius: 100%;
    border-top-left-radius: 40%;
    border: 4px solid greenyellow;
}
.formulario{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    opacity: 0.75;
    height: 10%;
}
.formulario input{
    align-items: center;
    padding: 5px;
    margin: 3px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    
}
.formulario button{
    align-items: center;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    width: 45%;
    text-align: center;
    border-radius: 15px;
}

input:hover{
    background-color: rgba(152, 245, 255, .5);
    border: 2px solid rgba(151, 235, 255, 0.204);
}
button:hover{
    cursor: pointer;
}


@keyframes logo {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
        filter: drop-shadow(16px 16px 20px red) invert(100%);
    }
}
